:root {
    --baseclrval: 23;
    --altclrval: 10;
    --baseclr: rgb(var(--baseclrval), var(--baseclrval), var(--baseclrval));
    --baseclrTP: rgba(var(--baseclrval), var(--baseclrval), var(--baseclrval), 0.5);
    --baseclrTP2: rgba(var(--baseclrval), var(--baseclrval), var(--baseclrval), 0.65);
    --altclr: rgba(var(--altclrval), var(--altclrval), var(--altclrval));
    --altclrTP: rgba(var(--altclrval), var(--altclrval), var(--altclrval), 0.75);
    --whiteclr: rgb(225, 225, 225);
    --dimwhiteclr: rgb(215, 215, 215);
    --dimmerwhiteclr: rgb(205, 205, 205);
    --herowidth: 800px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    background-color: var(--baseclr);
    color: var(--dimwhiteclr);
    width: 100%;
    margin: 0;
}

.menu {
    position: fixed;
    text-align: center;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--altclrTP);
    backdrop-filter: blur(15px);
}

.menu ul {
    display: inline-flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin: 0;
}

.menu a:link {
    display: block;
    padding: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-family: 'Gabarito', sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--whiteclr);
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.menu a:hover {
    background-color: var(--altclrTP);
}

/* a:active {
    background-color: rgb(70, 70, 75);
    transition: background-color 0.1s linear;
} */

a:visited {
    color: var(--whiteclr);
}


header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -2rem;
    color: var(--whiteclr);
}

header a {
    display: inline-block;
}

header a:hover {
    background-color: var(--baseclr);
}

h1 {
    margin: .5rem;
}

#large-media-bg {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var(--baseclrTP2);
}

#large-media-bg.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

#large-media-bg:hover {
    cursor: zoom-out;
}

.large-media {
    display: none;
    width: 1440px;
    max-width: 90%;
    max-height: 70%;
}

.large-media.show {
    display: inline;
}

main {
    display: grid;
    justify-items: center;
}

section {
    width: 100%;
    max-width: 700px;
    margin: 0;
}

#video-section {
    display: grid;
    margin-top: 2rem;
    max-width: var(--herowidth);
}

#game-vid,
#game-title {
    grid-row: 1;
    grid-column: 1;
}

#game-vid {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    filter: saturate(120%);
}

#game-title {
    z-index: 1;
    align-self: self-end;
}

#game-title h1 {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--baseclrTP2);
    margin: 0;
    font-size: 33px;
    width: 100%;
    font-weight: 900;
    padding-left: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

#dev-info {
    display: grid;
    background-color: var(--altclrTP);
    max-width: 735px;
    border-radius: 5px;
    margin-top: 1.5rem;
    padding: 1.2rem;
    padding-top: 1rem;
}

#dev-text,
#game-link {
    grid-row: 1;
    grid-column: 1;
}

#game-link {
    z-index: 1;
    height: 2rem;
    aspect-ratio: 1;
    justify-self: self-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    transition: transform .4s;
}

#game-link img {
    width: 100%;
}

#game-link:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#dev-text {
    color: var(--dimwhiteclr);
}

#media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#media h3 {
    text-align: center;
}

#media h4 {
    margin-top: -1rem;
    text-align: center;
}

#media>* {
    width: 97%;
    margin-left: -1rem;
    margin-bottom: 1.5rem;
    transition: transform .4s;
}

#media>*:hover {
    cursor: zoom-in;
}

#media video {
    filter: saturate(120%);
}

header a:active {
    background-color: rgb(75, 75, 75);
}

header a:link {
    color: var(--whiteclr);
    padding: 0;
}

header a:hover {
    /* color: rgb(165, 250, 250); */
    text-decoration: underline;
}

hr {
    border: 0px;
}

footer {
    color: var(--dimmerwhiteclr);
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (max-width:950px) {
    section {
        width: 85%;
    }

    #video-section,
    #dev-info {
        width: 89%;
    }

    #media img {
        margin-left: -1vw;
        width: 98%;
    }

    #media img:hover {
        cursor: auto;
    }
}

@media screen and (max-width:601px) {
    section {
        width: 80%;
    }

    #video-section,
    #dev-info {
        width: 85%;
    }

    footer {
        width: 80%;
    }
}