body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(75, 75, 75);
    color: rgb(235, 235, 235);
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: -4rem;
    color: rgb(250, 250, 250);
}

h1{
    margin-bottom: .5rem;
}

.menu {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    max-width: 1000px;
    background-color: rgb(50, 50, 50);
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0rem;
}

main{
    width: 100%;
    max-width: 800px;
    margin: auto;
}

a:link {
    color: rgb(250, 250, 250);
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.2s ease;
}

a:hover {
    background-color: rgb(75, 75, 75);
}

a:active {
    background-color: rgb(90, 90, 90);
    transition: background-color 0.1s linear;
}

a:visited {
    color: rgb(250, 250, 250);
}

#title{
    margin-top: 3.7rem;
}

#gallery #pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: -1.7rem;
}

#gallery #pictures h3 {
    text-align: center;
}

#gallery #pictures h4 {
    margin-top: -1rem;
    text-align: center;
}

#gallery #pictures img {
    max-width: 200px;
    transition: transform 0.5s;
    width: 100%;
}

#gallery #pictures img:hover{
    transform: scale(0.92);
    cursor: pointer;
}

#gallery #pictures img:active{
    transform: scale(0.75);
    transition: transform 0.3s;
}

#gallery #pictures a:active{
    background-color: rgb(75, 75, 75);
}

#gallery #pictures figcaption {
    margin-top: 1rem;
    max-width: 200px;
    width: 100%;
}

#gallery #pictures a:link {
    color: rgb(250, 250, 250);
    padding: 0;
}

#gallery #pictures a:hover {
    /* color: rgb(165, 250, 250); */
    text-decoration: underline;
}

#resume {
    justify-content: center;
}

#resume figure{
    width: 100%;
    margin-left: -2.5rem;
}

#documentation {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#documentation a {
    background-color: rgb(85, 85, 85);
}

#documentation a:hover {
    background-color: rgb(95, 95, 95);
    transition: background-color 0.1s linear;
}

#documentation a:active {
    background-color: rgb(105, 105, 105);
    transition: background-color 0.1s linear;
}

section {
    padding-top: 4rem;
    margin-bottom: -3rem;
}

#doc-page{
    padding-top: 3rem;
}

hr{
    border: 0px;
}

/* @media screen and (max-width:1200px) {
    body {
        width: 70%;
    }
    .menu {
        left: 13.25vw;
        width: 71vw;
    }
    #gallery #pictures img {
        max-width: 250px;
        width: 100%;
    }
    #gallery #pictures figcaption {
        margin-top: 1rem;
        max-width: 250px;
    }
    #resume figure{
        width: 100%;
        margin-left: -3rem;
    }
} */

@media screen and (max-width:950px) {
    body {
        width: 80%;
    }
    .menu {
        left: 0;
    }
    #gallery #pictures img {
        max-width: 220px;
    }
    #gallery #pictures figcaption {
        max-width: 220px;
    }
    #resume figure{
        width: 103%;
        margin-left: -3rem;
    }
}

@media screen and (max-width:600px) {
    body {
        width: 75%;
    }
    #gallery #pictures img {
        max-width: 300px;
    }
    #gallery #pictures figcaption {
        max-width: 300px;
    }
    #resume figure{
        margin-left: -1rem;
    }
    #resume iframe {
        width: 105%;
        height: 580px;
    }
}