body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(75, 75, 75);
    color: rgb(235, 235, 235);
}

main {
    width: 60%;
    max-width: 1200px;
    margin: auto;
}

header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: -3rem;
    color: rgb(250, 250, 250);
}

header figure img {
    width: 20%;
}

h1{
    margin-bottom: .5rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 18vw;
    width: 62vw;
    background-color: rgb(50, 50, 50);
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0rem;
}

a:link {
    color: rgb(250, 250, 250);
    text-decoration: none;
    padding: 1rem;
}

a:hover {
    background-color: rgb(100, 100, 100);
    transition: background-color 0.2s linear;
}

a:active {
    background-color: rgb(75, 75, 75);
    transition: background-color 0.1s linear;
}

a:visited {
    color: rgb(250, 250, 250);
}

#gallery #pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: -1.7rem;
}

#gallery #pictures h3 {
    text-align: center;
}

#gallery #pictures h4 {
    margin-top: -1rem;
    text-align: center;
}

#gallery #pictures img {
    max-width: 200px;
    width: 100%;
}

#gallery #pictures figcaption {
    margin-top: 1rem;
    max-width: 200px;
    width: 100%;
}

#gallery #pictures a:link {
    color: rgb(250, 250, 250);
    padding: 0;
}

#gallery #pictures a:hover {
    /* color: rgb(165, 250, 250); */
    text-decoration: underline;
}

#resume {
    justify-content: center;
}

#resume figure{
    width: 90%;
    margin-left: 0rem;
}

#documentation {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

section {
    padding-top: 4rem;
    margin-bottom: -3rem;
}

@media screen and (max-width:1200px) {
    main {
        width: 70%;
    }
    header figure img {
        width: 25%;
    }
    .menu {
        left: 13.25vw;
        width: 71vw;
    }
    #gallery #pictures img {
        max-width: 250px;
        width: 100%;
    }
    #gallery #pictures figcaption {
        margin-top: 1rem;
        max-width: 250px;
    }
}

@media screen and (max-width:900px) {
    main {
        width: 80%;
    }
    header figure img {
        width: 35%;
    }
    .menu {
        left: 8.5vw;
        width: 80vw;
    }
    #gallery #pictures img {
        max-width: 280px;
        width: 100%;
    }
    #gallery #pictures figcaption {
        margin-top: 1rem;
        max-width: 280px;
    }
}

@media screen and (max-width:600px) {
    main {
        width: 85%;
    }
    header figure img {
        width: 44%;
    }
    .menu {
        left: 0;
        width: 100vw;
    }
    #gallery #pictures img {
        max-width: 310px;
        width: 100%;
    }
    #gallery #pictures figcaption {
        margin-top: 1rem;
        max-width: 310px;
    }
    #resume iframe {
        width: 100%;
        height: 550px;
    }
}